/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import '~reset-css';

body
  background-color: #e6e6e6;

.purple
  background-color: #335499
  color: white
  user-select none;
  
.preloader
  filter: blur(15px);

td
th
  vertical-align: middle;